receivers:
  otlp:
    protocols:
      http:
exporters:
  logging:
    loglevel: info
  prometheus:
    endpoint: 0.0.0.0:8889
  otlphttp:
    endpoint: http://prometheus:9090
processors:
  batch:
extensions:
  health_check:
service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
